.container {
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 22em;
  max-width: 80%;
  padding: 2em 0;
  background: #1d1d1d;
  box-shadow: 0 0 6px 0 rgba(#202024, 0.12);
  transition: all 0.35s ease;
  color: white;
  margin: 1rem;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    height: 4px;
  }

  &::before {
    width: 0;
    opacity: 0;
    transition: opacity 0 ease, width 0 ease;
    transition-delay: 0.5s;
  }

  &::after {
    width: 100%;
    background: white;
    transition: width 0.5s ease;
  }

  .content {
    width: 18em;
    max-width: 80%;
  }

  .logo {
    margin: 0 0 1em;
    width: 10.625em;
    transition: all 0.35s ease;
  }

  h6 {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
  }

  .hover_content {
    overflow: hidden;
    max-height: 0;
    transform: translateY(1em);
    transition: all 0.55s ease;

    p {
      margin: 1.5em 0 0;
      color: white;
      line-height: 1.4em;
    }
  }

  &:hover {
    width: 24em;
    box-shadow: 0 10px 20px 0 rgba(#202024, 0.12);

    &::before {
      width: 100%;
      opacity: 1;
      transition: opacity 0.5s ease, width 0.5s ease;
      transition-delay: 0;
    }

    &::after {
      width: 0;
      opacity: 0;
      transition: width 0 ease;
    }

    .logo {
      margin-bottom: 0.5em;
    }

    .hover_content {
      max-height: 10em;
      transform: none;
    }
  }
}
